body{
    font-family: 'Lato', sans-serif;
}

a{
    text-decoration: none;
}


/* editing main block */
.greetings{
    text-align: center;
    font-size: 24px; 
    color: #483e3e; 
    font-weight: bold; 
    text-transform: uppercase;
    letter-spacing: 1px; 
}
.main-block{

    margin-top: 80px;
    display: flex;
    justify-content: center;
    width: 90%;
}

.left-menu li{
    list-style: none;
    width: 350px;
    height: 45px;
    border: solid 0.5px;
    border-radius: 5px;
    margin: 7px;  
    
}

.left-menu li:hover{
    width: 370px;
    height: 55px;
}

.left-menu a{
    display: block;
    line-height: 1.8;
    padding: 0.5em 1em;
    font-size: 17px;
    color:#333333;
    
}

.left-menu a:hover{
    color:#0084d6;
    font-size: 19px;
}

.right-info{
    width: 600px;
    margin: 20px;
    
    
}



table {
    margin-left: 10px;
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: #FFFFFF;
}

th, td {
    border: 1px solid #483e3e;
    text-align: left;
    padding: 10px;

}

th {
    background-color: #007bff;
    color: white;
}



