/*editiong footer*/
.footer{
    margin-top: 40px;
    display: flex;
    background-color:#FFFFFF;
    height: 260px;
    justify-content: space-between;
    width: 100%;

}

.icons-footer img{
    width: 18px;
    height: 18px;
}

.footer .left-column{
    margin-top: 3%;
    margin-left: 2%;
}

.footer .right-column{
    margin-top: 3%;
    margin-right: 6%;
    width: 35%;

}

.footer .right-column h2{
    color: #000000;
    font-size: 1.375rem;
    font-weight: 400;
    margin-bottom: 1em;
    line-height: 1.5;

}

.footer button{
    width: 160px;
    height: 50px;
    background-color: #0084d6;
    color: #FFFF;
    border: 0;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-top: 16px;
    padding-right: 28px;
    padding-bottom: 16px;
    padding-left: 28px
}

.icons-footer{
    display: flex;
    justify-content: space-between;
    width: 80px;
}


#subscration{
    width: 390px;
    height: 30px;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
}