{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find Near Me</title>
    <link rel="stylesheet" href="{% static 'pages/styles/find_nearme_style.css' %}">
    <link rel="stylesheet" href="{% static 'base/navigation_menu_style.css' %}">
    <link rel="stylesheet" href="{% static 'base/footer_style.css' %}">
</head>
<body>
    {% include 'base/navigation_menu.html' %}

    <div class="main-block">
        <div class="content">
            <h2>Where you can buy our Wine</h2>
            <form>
                <input type="text" placeholder="Write your addres:" name="query">
                <button class='btn-search' type='submit' name='action' value="search_stores">Check for results</button>
                <button class='btn-showall' type="submit" name="action" value="show_all">See All Stores</button>
            </form>
            {% if search_results %}
                <p>Results: click on the address</p>
                <div class="search-results">
                {% for store in search_results %}
                    <a href="{{store.link_on_googlemaps}}" target="_blank">{{store.address}}</a>
                {% endfor %}
                </div>
            {% endif %}

            <p>Our All Address</p>
            <div class="all-address">
            {% for store in all_stores%}
                <a href="{{store.link_on_googlemaps}}" target="_blank">{{store.address}}</a>
            {% endfor %}
            </div>

        </div>

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387194.06241208257!2d-74.30933616806763!3d40.69701926227439!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2z0J3RjNGOLdCZ0L7RgNC6LCDQodCo0JA!5e0!3m2!1sru!2s!4v1694957299661!5m2!1sru!2s" width="550" height="150" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>



    </div>

    {% include 'base/footer.html' %}

    
</body>
</html>