{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'pages/styles/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'base/navigation_menu_style.css' %}"/>
    <link rel="stylesheet" href="{% static 'base/footer_style.css' %}"/>
    <!--adding favicon of site-->
    <link rel="icon" href="{% static 'pages/images/logo.png' %}" type="image/png" />
    <title>La Fleur Lily</title>
  </head>
  <body>
    <div class="first-block">

      {% include 'base/navigation_menu.html' %}

      <p class="block1-p1">La Fleur Lily - memories of first love.</p>

      <div class="buttons">
        <button class="block1-btn1">
          <a href="{% url 'all_products' %}" class="block1-a1">SHOP NOW</a>
        </button>
        <button class="block1-btn2">
          <a href="{% url 'about_us' %}" class="block1-a2">ABOUT US</a>
        </button>
      </div>
    </div>

    <div class="two-block">
      <video
        src="{% static 'pages/videos/first_video_two-block.mp4' %}"
        width="580"
        height="300"
        autoplay
        muted
        loop
        controls="false"
      >
        Your browser does not support the video
      </video>
      <p>
        Welcome to La Fleur Lily, where organic wines are crafted with soul. Our
        vineyards thrive under the nurturing touch of nature, yielding grapes
        bursting with vibrant flavors. Experience the essence of our handcrafted
        wines, made with love and care, and embark on a journey of pure delight
        for your senses.
      </p>
    </div>

    <div class="three-block">
      <div class="card-1">
        <img src="{% static 'pages/images/block3_first_img.jpg' %}" class="block3-first-img" />
        <div class="act-on-content">
          <p class="block3-p1">
            To provide you with the best wine and service is our primary goal.
          </p>
          <button class="block3-btn1"><a href="{% url 'wine_category' %}">OUR WINES</a></button>
        </div>
      </div>

      <div class="card-2">
        <img
          src="{% static 'pages/images/block3_second_img.jpg' %}"
          class="block3-second-img"
        />
        <div class="act-on-content">
          <p class="block3-p2">La Fleur Lily is love in a glass.</p>
          <button class="block3-btn2"><a href="{% url 'sparkling_category' %}">OUR SPARKLING</a></button>
        </div>
      </div>

      <div class="card-3">
        <img src="{% static 'pages/images/block3_three_img.jpg' %}" class="block3-three-img" />
        <div class="act-on-content">
          <p class="block3-p3">La Fleur Lily - wine born with love and passion.</p>
          <button class="block3-btn3"><a href="{% url 'about_us' %}">OUR STORY</a></button>
        </div>
      </div>
    </div>


    <div class="home-products">
      <h2 class="featured-prod">Featured Products</h2>

      <div class="products">
      {% for product in all_wines %}
        <div class="product-card">
            <a href="{% url 'each_wine' wine_slug=product.slug %}">
                <img src="{{ product.image.url }}" alt="Wait please"/>
              </a>
              <div class="info-product-shop">
                <h2 class="product-name">{{ product.name }} </h2>
                <p class="product-category">{{ product.category }}</p>
                <p class="product-price">${{ product.price }}0</p>
                <div class="review">
                  <p>stars</p>
                  <div class="stars-img">
                  {% for stars in '12345' %}
                    <img src="{% static 'shop/images/site-img/star-photo-review.svg' %}"/>
                  {% endfor %}
                  </div>
                </div>
              </div>
        </div>
      {% endfor %}

      
      <button class="products-btn">
        <a href="{% url 'all_products' %}">VIEW ALL PRODUCTS</a>
      </button>
    </div>



    {% include 'base/footer.html' %}
  </body>
</html>
