{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Account</title>
    <link rel="stylesheet" href="{% static 'accounts/styles/my_address_style.css' %}" />
    <link rel="stylesheet" href="{% static 'base/navigation_menu_style.css' %}">
  </head>
  <body>
    {% include 'base/navigation_menu.html' %}
    <div class="main-block">
      <div class="left-menu">
        <nav>
          <ul>
            <li><a href="{% url 'my_account' %}">Account details</a></li>
            <li><a href="{% url 'account_orders' %}">My Orders</a></li>
            <li><a href="{% url 'account_address' %}">My Addresses</a></li>
            <li><a href="{% url 'logout' %}">LogOut</a></li>
          </ul>
        </nav>
      </div>

      <div class="right-info">

        <div class="billing">
          <div class="head">
            <h3>Shipping address</h3>
            <a href="{% url 'edit_address' %}">Edit</a>
          </div>
          <div class="body">
          {% if user.user_shipping_address %}
            <p>{{ user.user_shipping_address.first_name }} {{ user.user_shipping_address.last_name }}</p>
            <p>{{ user.user_shipping_address.street_address_1 }}</p>
            <p>{{ user.user_shipping_address.city }}</p>
            <p>{{ user.user_shipping_address.phone }} </p>
            <p>{{ user.user_shipping_address.country }}</p>

          {% else %}
            <p>Yor Don't Have Yet</p>
          {% endif %}
          </div>

        </div>

        <div class="add-address">
          <h3>Add new address</h3>
          <a href="{% url 'add_new_address' %}">
            <img src="{% static 'orders/images/cheackout_image_paywith/adding-image.png' %}">
          </a>
        </div>

      </div>

    </div>

  </body>
</html>
