{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Account</title>
    <link rel="stylesheet" href="{% static 'accounts/styles/my_orders_style.css' %}">
    <link rel="stylesheet" href="{% static 'base/navigation_menu_style.css' %}">
</head>
<body>
  {% include 'base/navigation_menu.html' %}
 

  <div class="main-block">
        
    <div class="left-menu">
      <nav>
        <ul>
          <li><a href="{% url 'my_account' %}">Account details</a></li>
          <li><a href="{% url 'account_orders' %}">My Orders</a></li>
          <li><a href="{% url 'account_address' %}">My Addresses</a></li>
          <li><a href="{% url 'logout' %}">LogOut</a></li>
        </ul>
      </nav>

    </div>
        
    <div class="right-info">
    {% if orders %}
        <table>
            <tr>
              <th>Order</th>	
              <th>Date</th>
              <th>Status</th>	
              <th>Total</th>	
              <th>Actions</th>
            </tr>

        {% for order, total in orders_with_totals %}
            <tr>
              <td>#{{ order.pk }}</td>
              <td>{{ order.date }}</td>
              <td>{{ order.status }}</td>
              <td>${{ total }}</td>
              <td><a href="{% url 'view_order' pk=order.pk %}"><button>View</button></a></td>
            </tr>
        {% endfor %}


        </table>
    {% else %}
        <h2>You don't have orders yet</h2>
    {% endif %}
    </div>

  </div>


</body>
</html>